<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Instead, we need to add gazebo tags for our links that refer to Gazebo materials -->

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link1">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="link2">
        <material>Gazebo/Green</material>
    </gazebo>

    <!-- This plugin will publish the joint_states for the selected joints 
            (which robot_state_publisher can then use to broadcast the approprate tf). -->

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_namespace>/</robot_namespace>
            <update_rate>100</update_rate>
            <joint>
                <name>joint1</name>
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
            <joint>
                <name>joint2</name>
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
        </plugin>
    </gazebo>

</robot>